{% extends 'vist_app/base.html' %}
{% load static %}

{% block container %}
<!--{#{ request.resolver_match }#}-->
<!--{#{ object_list }#}-->
<!--{{ title }}-->

<div class='menu'>
    <a href="https://vistone.herokuapp.com/admin/">admin</a>
</div>

<form class="form" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="submit" type="submit" value="Применить">
</form>

<div class="table">
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Бортовой номер</th>
            <th>Модель</th>
            <th>Макс. грузоподъемность</th>
            <th>Текущий вес</th>
            <th>Перегруз, %</th>
        </tr>
        {% if object_list %}
            {% for object in object_list %}
                <tr>
                    <td>{{ object.tail_number }}</td>
                    <td>{{ object.track_model }}</td>
                    <td>{{ object.max_load_capacity }}</td>
                    <td>{{ object.current_weight }}</td>
                    {% if object.overld >= 0 %}
                        <td>{{ object.overld|floatformat:2 }}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>


{% endblock %}
